{% extends "admin_base.html" %}
{% block main %}

<script type="text/javascript">
  function checkpassword()
  {
    if(document.changepassword.newpassword.value!=document.changepassword.confirmpassword.value)
    {
        alert('New password and comfirm password field doesnot match');
        document.changepassword.confirmpassword.focus();
        return false;
    }
    return true;
  }
</script>

<div class="card shadow m-2">
  <div class="card-body">
    <h5 class="p-2 text-danger" style="border-bottom: 2px solid orange">Change Password</h5>

    <form method="post" name="changepassword" onsubmit="return checkpassword()" class="container-fluid">
      {% csrf_token %}

      <div class="row">
       
        <div class="col-sm-6 mb-3">
          <label class="form-label">Current Password </label>
          <input type="password" name="currentpassword" class="form-control" placeholder="Enter Current Password">
        </div>

     
        <div class="col-sm-6 mb-3">
          <label class="form-label">New Password</label>
          <input type="password"  name="newpassword" class="form-control" placeholder="Enter New Password">
        </div>

       
        <div class="col-sm-6 mb-3">
          <label class="form-label">Confirm New Password</label>
          <input type="password" name="confirmpassword" class="form-control" placeholder="Confirm Your Password">
        </div>


      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

{% if error == "no" %}
<script>
  alert('Password Updated Successfully');
  window.location = '{% url 'logout' %}';
</script>
{% endif %}

{% if error == "yes" %}
<script>
  alert('Something went wrong. Please try again.');
</script>
{% endif %}

{% if error == "not" %}
<script>
  alert('Your current password is wrong');
</script>
{% endif %}

{% endblock %}
